In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()
file_path = r"C:\Users\wasy\Desktop\SESAME\01_data\cristina_dataset\Cristina Dataset.xlsx"
df = pd.read_excel(file_path)

In [3]:
df.head()

     Category       Detail    Cost       Date
0  Eating Out       Brunch   15.00 2022-07-25
1    Shopping       Uniqlo  144.50 2022-07-25
2     Hobbies  Salsa Class  130.00 2022-07-27
3   Groceries    Groceries    6.78 2022-07-27
4  Eating Out       Ditsch    2.00 2022-07-27

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  311 non-null    object
 1   Detail    311 non-null    object
 2   Cost      311 non-null    float64
 3   Date      311 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 9.8+ KB

In [5]:
df.Category.unique()

array(['Eating Out', 'Shopping', 'Hobbies', 'Groceries', 'Rent + Bills',
       'Investment', 'Transport', 'Student Loan', 'Travel', 'Healthcare',
       'Selfcare'], dtype=object)

In [6]:
df.Detail.unique()

array(['Brunch', 'Uniqlo', 'Salsa Class', 'Groceries', 'Ditsch',
       'Shared Rent + Bills expenses', 'Moving', 'Weekly ETH', 'Rent',
       'BVG', 'Phone', 'Postal re-route', 'Snacks', 'Bi-Weekly ETF',
       'Stock', 'Passport photos', 'Restaurant + Drinks',
       'Salsa Festival Surcharge', 'Driver license conversion',
       'Student Loan', 'Sisyphos', 'Google', 'Patreon', 'Insurance',
       'Post salsa pizza', 'Pub Quiz', 'Flea market', 'Juice',
       'Poland Bus', 'Birthday present', 'Train castellvi', 'YEGO',
       'Pills pills pills ', 'Bi-Weekly Stock', 'Pills pills pills',
       'Tampons', 'Olive oil', 'Libro de la abuela', 'Spanish foooood',
       'Taxi airport', 'Salsa', 'Travel', 'Finger cut', 'Thai park',
       'Baptism flight', 'Train tickets to visit Fran', 'Teeth cleaning',
       'Poland hotel', 'UK Phone', 'Date', 'Salsa Festival',
       'Extension ticket BVG', 'Extension ticket', 'Avanico',
       'Phone surcharge', 'Fruit', 'Hot water bottle', 'DM',
       'Vase and tea spoon', 'Drinks', 'Moisturiser', 'Shoes + jacket',
       'Lunch', 'BVG extension ticket ', 'Copenhagen', 'BVG from airport',
       'Flight back from BCN', 'Train to Stratford', 'Bus to airport',
       'iPhone case', 'Burger', 'Market', 'Airport BVG', 'Sweater',
       'Eyebrows + cash', 'Train', 'Boots meal deal', 'Pharmacy',
       'Legal Insurance', 'Personal Liability Insurance',
       'Train to airport ', 'Train to potsdam', 'Lunch in Potsdam',
       'Supermarket', 'Bubble Tea Ido', 'Drinks, Dinner, Comedy',
       'Bunker tour Mom visit', 'Snack', 'Drinks with mom',
       'Tacos and drinks', 'Cocktail', 'Tape', 'Car', 'Train airport',
       'Sandwich', 'Train Tonya', 'Wax', 'Pill', 'Metro', 'Andreu',
       'Books', 'Clothes', 'Metro BCN', 'McDs', 'Airport train', 'Comedy',
       'Christmas market', 'Bubble tea and Indian', 'Coffee',
       'Ikea Lunch', 'Ikea things', 'Glühwein', 'Printing', 'Groceries ',
       'Christmas presents + shoes', 'McD', 'BVG Airport', 'Toogoodtogo',
       'Xmas food', 'Xmas presents', 'Beers', 'Pádel', 'Cards',
       'Norwegian', 'Douglas', 'PromoFarma', 'Haircut', 'Ethernet',
       'Bread', 'Vegetables', 'Crossfit', 'Waxing', 'Medicine', 'Parking',
       'Churros', 'Gift for mom', 'Fuel', 'Druni', 'Chino', 'Flights',
       'Car wash', 'IKEA', 'Decathlon', 'Hollister', 'Morrysom',
       "McDonald's", 'Bonet', 'Boots', 'Girona Lockers', 'Amarula',
       'Oslo ticket', 'Vday gift', 'Granola', 'Deutsche Post'],
      dtype=object)

In [7]:
df[df["Category"]== "Investment"]

       Category           Detail   Cost       Date
11   Investment       Weekly ETH    6.0 2022-08-01
16   Investment       Weekly ETH    6.0 2022-07-25
17   Investment       Weekly ETH   10.0 2022-08-08
18   Investment       Weekly ETH   10.0 2022-08-15
19   Investment       Weekly ETH   10.0 2022-08-22
24   Investment    Bi-Weekly ETF   50.0 2022-08-16
25   Investment            Stock   10.0 2022-08-16
57   Investment       Weekly ETH   10.0 2022-08-29
58   Investment       Weekly ETH   10.0 2022-09-05
59   Investment       Weekly ETH   10.0 2022-09-12
60   Investment       Weekly ETH   10.0 2022-09-19
61   Investment    Bi-Weekly ETF   50.0 2022-09-02
62   Investment    Bi-Weekly ETF   50.0 2022-09-16
63   Investment  Bi-Weekly Stock   10.0 2022-08-30
64   Investment  Bi-Weekly Stock   10.0 2022-09-13
106  Investment       Weekly ETH   10.0 2022-09-26
107  Investment       Weekly ETH   10.0 2022-10-03
108  Investment       Weekly ETH   10.0 2022-10-10
109  Investment       Weekly ETH   10.0 2022-10-17
110  Investment    Bi-Weekly ETF   50.0 2022-10-03
111  Investment    Bi-Weekly ETF  105.0 2022-10-17
112  Investment  Bi-Weekly Stock   10.0 2022-10-03
113  Investment  Bi-Weekly Stock   10.0 2022-10-17
147  Investment       Weekly ETH   10.0 2022-10-24

In [3]:
import pytesseract
import PIL.Image
import cv2

In [9]:
# - 
# - 11 (sparse text)

In [12]:
os.getcwd()

'c:\\Users\\wasy\\Desktop\\SESAME'

In [4]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

In [ ]:
#1,3,4,5,6,11,12

In [56]:
myconfig = r"--psm 6--oem 3"
text = pytesseract.image_to_string(PIL.Image.open(r".\01_data\sample_receipt\IMG-4652.jpg"), config=myconfig)
print(text)

; , WE
Rheinstr. 30
12161 Berlin

Telefon: 030 / 85074370
UID Nr. : DE812706034

RUCOTELLA KAESE 4°03 B
Handeingabe E-Bon 0,193 kg
FEIGENSENFSAUCE 4,29 B
Versch. Sorten 2,19 B
CIABATTA 0,99 B
PANE RUSTICO 1,39 B
CRACKER PAPRIKA 2,49 B
TS CRACK. SALT 2,49 B .
HUMMUS NATUR 2, (0B
ZITRONE BIO 1,58 B

2 Stk x Q, 79
SALAT SALATTRIO 1,79 B
GURKE MINI 1,96 B

4 Stk x 0, 49
BIO EIJER KL. M-L 2,39 B
FR. BIO HEUMI. 1,99 B
ESSIGESSENZ HELL 1,49 B
SALTLETTS 2,19 B
UNIV MEGAPERLS 4,59 A
KLAPPBOX 8,99 A
SUMME EUR 47,54
Geg. Maestro EUR 47,54

* x Kundenbeleg * *

Datum: 11. 02. 2023
Unr zeit 14:01:06 thy
Lom ra Ni.

, * Amerie

In [57]:
img = cv2.imread(r".\01_data\sample_receipt\IMG-4652.jpg")
height, width, _ = img.shape
boxes = pytesseract.image_to_boxes(img, config=myconfig)
#print(boxes)

for box in boxes.splitlines():

    box = box.split(" ")
    img = cv2.rectangle(img, (int(box[1]), height - int(box[2])), (int(box[3]), height-int(box[4])), (0,255,0), 2)

cv2.imshow("img", img)
cv2.waitKey(0)

0

:

AY

REWE |

ae

Teletons ie a a 074370

; ene

UID Nr. :

DE812 706034

EUR

eres)

RUCOTELLA KAESE

4,03 B

andeingabe E-Bon

0,193 kg

“he = a.

FE TGENSENFSAUCE

4,29 B

ee as

ersch.

orten

as 105

ee es

i, 38°

Se Sate

=p ee— =

CRACKER PAPRIKA

2,49 B

=a

bok

S ine,

Re one

HUMMUS NATUR

2,10 B

i

08 B

SALAT SALATTRIO

ih

{9 B

1,

96 B

, 49

BIO FIER. KL. MeL

2,39 B

ESSIGESSENZ HELL

1,49 B

2,10 -B

4,59 A

UNIV MEGAPERLS

8,99 A

TRS PERS Fp AR SHES GEN ARE OUND YP AEDES HIER TAR PSR IPN APR Rt) RRR SARS HOS AON SINTERED RNA I OA Ot OR PHN NA NE CARY Seats Shes Sa ARES met BOER SSRN SUAS

KLAPPBO

(nes ORS ASD RONEN MOR fave “see SNR YORE APRS IE CUS AER AOE NAN ASN OEE FOS NR ee ALND RTS EAS SO ORY AN Yt TS ORE RR HRN Ra eH aN Tern ENT NS Nene

OUMME

EUR

41,54

ae

ee

NOP aS Ped MAN FSR AR HIE RAE RANE “AVI ne FOES RT SRS AG MD SIRES SOLA FERS EN TRS NR VRE LSA LAR! eR MAS MIRO REINS MD er oink IK ee? TNS AI SARE

Geg. Maestro

EUR

47,54

x *X Kundenbeleg * x

Datum

11.02. 2023

Uhrzeit:

14:01:06 Uhr

apk,

bee Pile

Beleg-Nr.

671124

Trace-Nr.

Bezahlung

:

Contactless

eee