In [8]:
import pandas as pd
import os

# STORYTELLING with financial spendings.


***starting with a sample dataset***, we potentially want to investigate what insigths can be derived from a dataset concentrating ones spendings (Habits; trends etc.)
  
  ***with respect to time:***
 - How does the data differ from months to months
 - How does the data differ from summer vs. winter

therefore we differentiate the data regarding:
- fix vs. flexible costs
- basic need / luxoury ("nice to have") spendings

- are there any trends in the way money is spend?
- how does the absolute and relative spendings within the different categories differ?

# Data Inspection - unpreprocessed dataset

In [28]:
os.getcwd()
file_path01 = r"..\01_data\cristina_dataset\Cristina_Dataset_230218.xlsx"
file_path02 = r"..\01_data\cristina_dataset\Cristina_Dataset_230222.csv"

In [29]:
#read dataframe
df = pd.read_excel(file_path01)

In [30]:
#set up of the file
print(df.head(-5))
print("\n")
df.info()

       Category       Detail    Cost       Date
0    Eating Out       Brunch   15.00 2022-07-25
1      Shopping       Uniqlo  144.50 2022-07-25
2       Hobbies  Salsa Class  130.00 2022-07-27
3     Groceries    Groceries    6.78 2022-07-27
4    Eating Out       Ditsch    2.00 2022-07-27
..          ...          ...     ...        ...
301      Travel        Train   26.50 2023-02-03
302   Groceries    Groceries    8.94 2023-02-03
303    Shopping      Amarula   15.70 2023-02-04
304   Transport  Oslo ticket   30.19 2023-02-06
305   Transport  Oslo ticket   30.50 2023-02-13

[306 rows x 4 columns]


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  311 non-null    object
 1   Detail    311 non-null    object
 2   Cost      311 non-null    float64
 3   Date      311 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 9.8+ KB

In [31]:
print(df.Category.unique())
print("\n")
print(len(df.Category.unique()))
print("\n")
print(df.Detail.unique())

['Eating Out' 'Shopping' 'Hobbies' 'Groceries' 'Rent + Bills' 'Investment'
 'Transport' 'Student Loan' 'Travel' 'Healthcare' 'Selfcare']


11


['Brunch' 'Uniqlo' 'Salsa Class' 'Groceries' 'Ditsch'
 'Shared Rent + Bills expenses' 'Moving' 'Weekly ETH' 'Rent' 'BVG' 'Phone'
 'Postal re-route' 'Snacks' 'Bi-Weekly ETF' 'Stock' 'Passport photos'
 'Restaurant + Drinks' 'Salsa Festival Surcharge'
 'Driver license conversion' 'Student Loan' 'Sisyphos' 'Google' 'Patreon'
 'Insurance' 'Post salsa pizza' 'Pub Quiz' 'Flea market' 'Juice'
 'Poland Bus' 'Birthday present' 'Train castellvi' 'YEGO'
 'Pills pills pills ' 'Bi-Weekly Stock' 'Pills pills pills' 'Tampons'
 'Olive oil' 'Libro de la abuela' 'Spanish foooood' 'Taxi airport' 'Salsa'
 'Travel' 'Finger cut' 'Thai park' 'Baptism flight'
 'Train tickets to visit Fran' 'Teeth cleaning' 'Poland hotel' 'UK Phone'
 'Date' 'Salsa Festival' 'Extension ticket BVG' 'Extension ticket'
 'Avanico' 'Phone surcharge' 'Fruit' 'Hot water bottle' 'DM'
 'Vase and tea spoon' 'Drinks' 'Moisturiser' 'Shoes + jacket' 'Lunch'
 'BVG extension ticket ' 'Copenhagen' 'BVG from airport'
 'Flight back from BCN' 'Train to Stratford' 'Bus to airport'
 'iPhone case' 'Burger' 'Market' 'Airport BVG' 'Sweater' 'Eyebrows + cash'
 'Train' 'Boots meal deal' 'Pharmacy' 'Legal Insurance'
 'Personal Liability Insurance' 'Train to airport ' 'Train to potsdam'
 'Lunch in Potsdam' 'Supermarket' 'Bubble Tea Ido'
 'Drinks, Dinner, Comedy' 'Bunker tour Mom visit' 'Snack'
 'Drinks with mom' 'Tacos and drinks' 'Cocktail' 'Tape' 'Car'
 'Train airport' 'Sandwich' 'Train Tonya' 'Wax' 'Pill' 'Metro' 'Andreu'
 'Books' 'Clothes' 'Metro BCN' 'McDs' 'Airport train' 'Comedy'
 'Christmas market' 'Bubble tea and Indian' 'Coffee' 'Ikea Lunch'
 'Ikea things' 'Glühwein' 'Printing' 'Groceries '
 'Christmas presents + shoes' 'McD' 'BVG Airport' 'Toogoodtogo'
 'Xmas food' 'Xmas presents' 'Beers' 'Pádel' 'Cards' 'Norwegian' 'Douglas'
 'PromoFarma' 'Haircut' 'Ethernet' 'Bread' 'Vegetables' 'Crossfit'
 'Waxing' 'Medicine' 'Parking' 'Churros' 'Gift for mom' 'Fuel' 'Druni'
 'Chino' 'Flights' 'Car wash' 'IKEA' 'Decathlon' 'Hollister' 'Morrysom'
 "McDonald's" 'Bonet' 'Boots' 'Girona Lockers' 'Amarula' 'Oslo ticket'
 'Vday gift' 'Granola' 'Deutsche Post']

In [32]:
df[df["Category"]== "Investment"]

       Category           Detail   Cost       Date
11   Investment       Weekly ETH    6.0 2022-08-01
16   Investment       Weekly ETH    6.0 2022-07-25
17   Investment       Weekly ETH   10.0 2022-08-08
18   Investment       Weekly ETH   10.0 2022-08-15
19   Investment       Weekly ETH   10.0 2022-08-22
24   Investment    Bi-Weekly ETF   50.0 2022-08-16
25   Investment            Stock   10.0 2022-08-16
57   Investment       Weekly ETH   10.0 2022-08-29
58   Investment       Weekly ETH   10.0 2022-09-05
59   Investment       Weekly ETH   10.0 2022-09-12
60   Investment       Weekly ETH   10.0 2022-09-19
61   Investment    Bi-Weekly ETF   50.0 2022-09-02
62   Investment    Bi-Weekly ETF   50.0 2022-09-16
63   Investment  Bi-Weekly Stock   10.0 2022-08-30
64   Investment  Bi-Weekly Stock   10.0 2022-09-13
106  Investment       Weekly ETH   10.0 2022-09-26
107  Investment       Weekly ETH   10.0 2022-10-03
108  Investment       Weekly ETH   10.0 2022-10-10
109  Investment       Weekly ETH   10.0 2022-10-17
110  Investment    Bi-Weekly ETF   50.0 2022-10-03
111  Investment    Bi-Weekly ETF  105.0 2022-10-17
112  Investment  Bi-Weekly Stock   10.0 2022-10-03
113  Investment  Bi-Weekly Stock   10.0 2022-10-17
147  Investment       Weekly ETH   10.0 2022-10-24

# Data Inspection - preprocessed dataset

In [35]:
df01 = pd.read_csv(file_path02)
df01

       Category       Detail     Cost    Date
0    Eating Out       Brunch   €15.00  25-Jul
1      Shopping       Uniqlo  €144.50  25-Jul
2       Hobbies  Salsa Class  €130.00  27-Jul
3     Groceries    Groceries    €6.78  27-Jul
4    Eating Out       Ditsch    €2.00  27-Jul
..          ...          ...      ...     ...
319   Groceries    Groceries    €4.07  20-Feb
320  Eating Out        Lunch    €1.92  20-Feb
321    Shopping         Ikea   €74.78  21-Feb
322  Eating Out         Ikea    €9.59  21-Feb
323    Shopping    Furniture  €147.48  21-Feb

[324 rows x 4 columns]