In [51]:
import pandas as pd
import numpy as np
import os
import json
import datetime

In [52]:
#read processed dataframe
df = pd.read_csv(r"..\Data\processed_data\df_processed.csv")
df

,Category,Detail,Cost,Date,Month_period,WeekofYear,DayofWeek,Day_of_Week_Category,Month
0,Eating Out,Brunch,15.00,2022-07-25,Jul - Aug 22,30,0,Weekday,7
1,Shopping,Uniqlo,144.50,2022-07-25,Jul - Aug 22,30,0,Weekday,7
2,Hobbies,Salsa Class,130.00,2022-07-27,Jul - Aug 22,30,2,Weekday,7
3,Groceries,Groceries,6.78,2022-07-27,Jul - Aug 22,30,2,Weekday,7
4,Eating Out,Ditsch,2.00,2022-07-27,Jul - Aug 22,30,2,Weekday,7
...,...,...,...,...,...,...,...,...,...
324,Groceries,Groceries,8.26,2023-02-21,Jan - Feb 23,8,1,Weekday,2
325,Groceries,Groceries,27.25,2023-02-22,Jan - Feb 23,8,2,Weekday,2
326,Groceries,Groceries,13.69,2023-02-23,Jan - Feb 23,8,3,Weekday,2
327,Rent + Bills,Phone Norway,4.50,2023-02-24,Jan - Feb 23,8,4,Weekday,2
328,Eating Out,Coffee,4.31,2023-02-24,Jan - Feb 23,8,4,Weekday,2

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Category              329 non-null    object
 1   Detail                329 non-null    object
 2   Cost                  329 non-null    float64
 3   Date                  329 non-null    object
 4   Month_period          329 non-null    object
 5   WeekofYear            329 non-null    int64
 6   DayofWeek             329 non-null    int64
 7   Day_of_Week_Category  329 non-null    object
 8   Month                 329 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 23.3+ KB

## weekly view

In [54]:
#add datetime
df['Date'] = pd.to_datetime(df['Date'])

In [55]:
#adding weekday; Week referend
df["WeekofYear"] = df.Date.dt.week
df["DayofWeek"] = df.Date.dt.day_of_week
SumperWeekofYear = df.groupby(["Date","WeekofYear","DayofWeek","Category"])["Cost"].sum()
SumperWeekofYear
df_SumperWeekofYear = pd.DataFrame(SumperWeekofYear)
df_SumperWeekofYear
df_SumperWeekofYear.reset_index(inplace=True)
df_SumperWeekofYear["WeekofYear"].value_counts()
filt_Week35 = (df_SumperWeekofYear["WeekofYear"]==35)
df_Week35 = df_SumperWeekofYear[filt_Week35]
df_Week35

C:\Users\wasy\AppData\Local\Temp\ipykernel_6256\3044615091.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df["WeekofYear"] = df.Date.dt.week

         Date  WeekofYear  DayofWeek      Category    Cost
52 2022-08-29          35          0    Investment   10.00
53 2022-08-29          35          0  Rent + Bills    4.94
54 2022-08-30          35          1     Groceries   43.28
55 2022-08-30          35          1    Investment   10.00
56 2022-08-31          35          2        Travel   26.15
57 2022-09-01          35          3  Rent + Bills  501.77
58 2022-09-01          35          3     Transport   63.42
59 2022-09-02          35          4    Investment   50.00
60 2022-09-03          35          5     Groceries   20.94
61 2022-09-03          35          5    Healthcare   12.50
62 2022-09-04          35          6    Eating Out   13.50
63 2022-09-04          35          6  Rent + Bills    1.88
64 2022-09-04          35          6        Travel   64.75

In [56]:
#add weekday name
abr = {0: "Monday",
       1: "Tuesday",
       2: "Wednesday",
       3: "Thursday",
       4: "Friday",
       5:"Saturday",
       6:"Sunday"}

df_Week35['Weekday'] = df_Week35['DayofWeek'].replace(abr)
df_Week35

C:\Users\wasy\AppData\Local\Temp\ipykernel_6256\3454196315.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Week35['Weekday'] = df_Week35['DayofWeek'].replace(abr)

         Date  WeekofYear  DayofWeek      Category    Cost    Weekday
52 2022-08-29          35          0    Investment   10.00     Monday
53 2022-08-29          35          0  Rent + Bills    4.94     Monday
54 2022-08-30          35          1     Groceries   43.28    Tuesday
55 2022-08-30          35          1    Investment   10.00    Tuesday
56 2022-08-31          35          2        Travel   26.15  Wednesday
57 2022-09-01          35          3  Rent + Bills  501.77   Thursday
58 2022-09-01          35          3     Transport   63.42   Thursday
59 2022-09-02          35          4    Investment   50.00     Friday
60 2022-09-03          35          5     Groceries   20.94   Saturday
61 2022-09-03          35          5    Healthcare   12.50   Saturday
62 2022-09-04          35          6    Eating Out   13.50     Sunday
63 2022-09-04          35          6  Rent + Bills    1.88     Sunday
64 2022-09-04          35          6        Travel   64.75     Sunday

In [57]:
#sum oer day
df_sumPWeek35 = pd.DataFrame(df_Week35.groupby(["Date","Weekday"])["Cost"].sum().sort_index()).reset_index()
df_sumPWeek35 = df_sumPWeek35.round(2)

In [58]:
df_sumPWeek35["Weekday"] = df_sumPWeek35["Weekday"].apply(lambda x: x[:3])

In [59]:
#initializing and populating dictionary with sample week data
dict01 = {}
#add week 35
dict01["Week_35"]={}
#add week
dict01["Week_35"]["Week"] = str(df_Week35.Date.min().strftime('%d.%m.%Y'))+" - "+str(df_Week35.Date.max().strftime('%d.%m.%Y'))
dict01["Week_35"]["Week_val"] = df_sumPWeek35.iloc[:,1:].values.tolist()
dict01["Week_35"]["Week_Top5"] = pd.DataFrame(df_Week35.groupby("Category")["Cost"].sum().sort_values(ascending=False).nlargest(5)).reset_index().iloc[:].values.tolist()
dict01["Week_35"]["Week_Sum"] = df_sumPWeek35.iloc[:,2].values.sum()
dict01["Week_35"]["Week_Avg"] = df_sumPWeek35.iloc[:,2].values.mean()
dict01

{'Week_35': {'Week': '29.08.2022 - 04.09.2022',
  'Week_val': [['Mon', 14.94],
   ['Tue', 53.28],
   ['Wed', 26.15],
   ['Thu', 565.19],
   ['Fri', 50.0],
   ['Sat', 33.44],
   ['Sun', 80.13]],
  'Week_Top5': [['Rent + Bills', 508.59],
   ['Travel', 90.9],
   ['Investment', 70.0],
   ['Groceries', 64.22],
   ['Transport', 63.42]],
  'Week_Sum': 823.13,
  'Week_Avg': 117.59}}

In [60]:
df_sumPWeek35

        Date Weekday    Cost
0 2022-08-29     Mon   14.94
1 2022-08-30     Tue   53.28
2 2022-08-31     Wed   26.15
3 2022-09-01     Thu  565.19
4 2022-09-02     Fri   50.00
5 2022-09-03     Sat   33.44
6 2022-09-04     Sun   80.13

In [61]:
df_sumPWeek35.iloc[:].values.tolist()

[[Timestamp('2022-08-29 00:00:00'), 'Mon', 14.94],
 [Timestamp('2022-08-30 00:00:00'), 'Tue', 53.28],
 [Timestamp('2022-08-31 00:00:00'), 'Wed', 26.15],
 [Timestamp('2022-09-01 00:00:00'), 'Thu', 565.19],
 [Timestamp('2022-09-02 00:00:00'), 'Fri', 50.0],
 [Timestamp('2022-09-03 00:00:00'), 'Sat', 33.44],
 [Timestamp('2022-09-04 00:00:00'), 'Sun', 80.13]]

In [62]:
os.getcwd()


#store data in JSON File
with open(r'..\Data\processed_data\\data_weeklyview_Week35.json', 'w') as fp:
    json.dump(dict01, fp)

### monthly view

In [63]:
df

,Category,Detail,Cost,Date,Month_period,WeekofYear,DayofWeek,Day_of_Week_Category,Month
0,Eating Out,Brunch,15.00,2022-07-25,Jul - Aug 22,30,0,Weekday,7
1,Shopping,Uniqlo,144.50,2022-07-25,Jul - Aug 22,30,0,Weekday,7
2,Hobbies,Salsa Class,130.00,2022-07-27,Jul - Aug 22,30,2,Weekday,7
3,Groceries,Groceries,6.78,2022-07-27,Jul - Aug 22,30,2,Weekday,7
4,Eating Out,Ditsch,2.00,2022-07-27,Jul - Aug 22,30,2,Weekday,7
...,...,...,...,...,...,...,...,...,...
324,Groceries,Groceries,8.26,2023-02-21,Jan - Feb 23,8,1,Weekday,2
325,Groceries,Groceries,27.25,2023-02-22,Jan - Feb 23,8,2,Weekday,2
326,Groceries,Groceries,13.69,2023-02-23,Jan - Feb 23,8,3,Weekday,2
327,Rent + Bills,Phone Norway,4.50,2023-02-24,Jan - Feb 23,8,4,Weekday,2
328,Eating Out,Coffee,4.31,2023-02-24,Jan - Feb 23,8,4,Weekday,2

In [64]:
#initializing and populating dictionary with sample week data
dict02 = {}
#add week 35
dict02["Monthly_View"]={}

In [65]:
#sum oer day
df_sumPWeek35

        Date Weekday    Cost
0 2022-08-29     Mon   14.94
1 2022-08-30     Tue   53.28
2 2022-08-31     Wed   26.15
3 2022-09-01     Thu  565.19
4 2022-09-02     Fri   50.00
5 2022-09-03     Sat   33.44
6 2022-09-04     Sun   80.13

In [66]:
#sum oer day
df_sumPMonths = pd.DataFrame(df.groupby(["Month_period"])["Cost"].sum().sort_index()).reset_index()
df_sumPMonths = df_sumPMonths.round(2)
df_sumPMonths = df_sumPMonths.reindex([3,0,6,5,4,1,2])
df_sumPMonths.reset_index(inplace=True)
df_sumPMonths["Month_period"] = df_sumPMonths["Month_period"].apply(lambda x: x[6:9])
df_sumPMonths.set_index("Month_period",inplace=True)

In [67]:
df_sumPMonths

              index     Cost
Month_period
Aug               3  1728.87
Sep               0  1776.55
Oct               6  1631.22
Nov               5  1098.53
Dec               4  1374.09
Jan               1  1178.47
Feb               2  1593.46

In [68]:
df_sumPMonths.drop("index",axis=1,inplace=True)

In [69]:
df_sumPMonths.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Aug to Feb
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cost    7 non-null      float64
dtypes: float64(1)
memory usage: 112.0+ bytes

In [70]:
df_sumPMonths.values.mean()

1483.0271428571427

In [71]:
#add week
dict02["Monthly_View"]["Months"] = str(df.Date.min().strftime('%d.%m.%Y'))+" - "+str(df.Date.max().strftime('%d.%m.%Y'))
dict02["Monthly_View"]["Month_val"] = df_sumPMonths.reset_index().values.tolist()
dict02["Monthly_View"]["Months_Top5"] = pd.DataFrame(df.groupby("Category")["Cost"].sum().sort_values(ascending=False).nlargest(5)).reset_index().iloc[:].values.tolist()
dict02["Monthly_View"]["Months_Sum"] = round(df_sumPMonths.values.sum(),2)
dict02["Monthly_View"]["Months_Avg"] = round(df_sumPMonths.values.mean(),2)

In [72]:
dict02

{'Monthly_View': {'Months': '25.07.2022 - 24.02.2023',
  'Month_val': [['Aug', 1728.87],
   ['Sep', 1776.55],
   ['Oct', 1631.22],
   ['Nov', 1098.53],
   ['Dec', 1374.09],
   ['Jan', 1178.47],
   ['Feb', 1593.46]],
  'Months_Top5': [['Rent + Bills', 3649.86],
   ['Groceries', 1455.07],
   ['Shopping', 1251.3],
   ['Travel', 828.72],
   ['Eating Out', 646.97]],
  'Months_Sum': 10381.19,
  'Months_Avg': 1483.03}}

In [73]:
#store data in JSON File
with open(r'..\Data\processed_data\data_monthlyview.json', 'w') as fp:
    json.dump(dict02, fp)